<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>
    <h1>Rick & Morty</h1>
    <br>
    <h2>Episodes</h2>
    <%-include("partials/nav.ejs")%>
    <h3>Title: <%-data.name%></h3>
    <h3>Episode: <%-data.episode%></h3>
    <h3>Air Date: <%-data.air_date%></h3>
    <h3>Characters: </h3>
    <div>
        <%for(let row of data.charactersData){%>
            <figure>
                <img src=<%-row.image%>>
                <figcaption><%-row.name%></figcaption>
            </figure>
        <%}%>
    </div>
    <%-include("partials/foot.ejs")%>
</body>
</html>