<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>

    <%-include("partials/nav.ejs")%>
    <h2>Mercury</h2>
    <%-mercury.description %>

    <img src='<%-mercury.image %>'>

    <%-mercury.distanceFromSun %>
    <p> away from the sun.</p><br>
    <p>One year on mercury is </p><%-mercury.yearLength %><br>
    <p>The radius of this planet is </p><%-mercury.radius %><br>
    <p>One day on this planet is equal to </p><%-mercury.oneEarthDay %> <p> days on earth</p><br>
    <p>This planet has </p><%-mercury.moons %><p> moons</p> <br>
    <%-mercury.websiteLink %><br>
    
    <%-include("partials/foot.ejs")%>
</body>
</html>