<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>

    <%-include("partials/nav.ejs")%>
    <h2>Neptune</h2>

    <%-neptune.description %>

    <img src="<%-neptune.image %>">


    <%-include("partials/foot.ejs")%>
</body>
</html>