<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head.ejs")%>
</head>
<body>

    <%-include("partials/nav.ejs")%>
    <h2>Uranus</h2>

    <%-uranus.description %>

    <img src="<%-uranus.image %>">


    <%-include("partials/foot.ejs")%>
</body>
</html>