<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 7: Famous Quotes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 id="admin">Admin Section</h1>
    <br><br>
    <%-include("partials/nav.ejs")%>
    <br><br>
    <h2 id="list">Authors</h2>
    <br><br>
    <% for(let i of authors) { %>
        <span>[ <a href="/author/edit?authorId=<%-i.authorId %>">Update</a> ]  [ <a href="/author/delete?authorId=<%-i.authorId %>">Delete</a> ] <%-i.authorId %> <%-i.firstName %> <%-i.lastName %></span> <br>
    <% } %>

    <br><br>
    <form action="/home">
        <button>Back</button>
    </form>
</body>
</html>